* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendarWrap {
    /* display: inline-block; */
    position: relative;
  }
  
  .calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
    border: 1px solid #ccc;
    z-index: 999;
  }